ol, ul {
    list-style: none;
}
body{
    overflow-x: hidden;
}
/*==== header====*/

.bg1{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 766px;
}
.bg2{
	background-color: rgba(0,0,0,0.6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 766px;
}

.navbar1{
	font-size: 13px;
}
.orange-color{
	color: #ffcf40;
}
.fa-phone {
	color: #ffcf40;
	transform: rotate(-260deg);
	font-size: 13px;
}
.fa-envelope {
	color: #ffcf40;
	font-size: 13px;
}
.logo{
	width: 120px;
}
.geobox{
     height:35px;
     width: 50px;
     padding:8px;
     font-size: 11px;
  
  background:
    linear-gradient(to left, #9aa2a7 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left,  #9aa2a7 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #9aa2a7 15%, transparent 0%, transparent 85%, #9aa2a7 0%) top left no-repeat,
    linear-gradient(to top,  #9aa2a7 15%, transparent 0%, transparent 85%, #9aa2a7 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}


.hr{
	background-color: #fff;
	opacity: 0.4;

}

.navbar{
	white-space: nowrap;
	font-size: 15px;
	font-family:BPG Guardian Egyp-Caps;
}
h1{
	font-family:BPG Guardian Egyp-Caps;
	letter-spacing: 1.2px;
	font-size:60px;
}
.box1{

     height: 83px;
     width: 121px;
     padding:5px;
     margin: 0px auto;
  background:
    linear-gradient(to left, #9c782b 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #9c782b 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%) top left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box2{
     height: 83px;
     width: 112px;
     padding:5px;
     margin: 0 auto;
  background:
    linear-gradient(to left, #f5ae16 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box3{
     height: 48px;
     width: 121px;
     padding:5px;
     margin: 0 auto;
  background:
    linear-gradient(to left, #9c782b 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #9c782b 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%) top left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box4{
     height: 48px;
     width: 112px;
     padding:5px;
     margin: -10px auto;
  background:
    linear-gradient(to left, #f5ae16 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}

/*==== header====*/

/*=== rooms section1 ====*/
.rooms-main-text{
    font-family:BPG Guardian Egyp-Caps Bld;
    letter-spacing: 1.2px;
    font-size:40pt;
}
.hr-section{
    width: 173px;
    margin: 0 auto;
}
.hr2{
    background-color:#f5ae16;
    width: 60px;
    height: 1px;
    margin-left: 15px;    

}
.hr3{
    background-color:#f5ae16;
    width: 173px;
    height: 1px;
    margin:0 auto;


}
.hr4{
    background-color:#f5ae16;
    width: 60px;
    height: 1px;
    margin-right: 15px;

}
.roomsbg-1{
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.roomsbg-2{
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.roomsbg-3{
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.rooms-box{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 30px -4px #000000;
    border-bottom: 3px solid #000000;
}
.hr-section2{
    width: 31px;
   
}
.hr22{
    background-color:#f5ae16;
    width: 12px;
    height: 0.46px;
    margin-left: 3px;   


}
.hr33{
    background-color:#f5ae16;
    width: 31px;
    height: 0.3px;
    margin-top: -12px; 

}
.hr44{
    background-color:#f5ae16;
    width: 12px;
    height: 0.46px;
    margin-right: 3px;
     margin-top: -12px; 

}
h4{
    font-family:BPG Guardian Egyp-Caps;
    letter-spacing: 1.2px;
  
}
.rooms-text{
    font-family: BPG Guardian Egyp;
}
/*=== rooms section1 ====*/

/*==== service section ====*/
.service1{
    background-image: url(../images/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}
.service2{
    background-image: url(../images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}
.service3{
    background-image: url(../images/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}
.service4{
    background-image: url(../images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}

.box11{

     height: 41.25px;
     width: 60.28px;
     padding:3px;
     margin: 0px auto;
  background:
    linear-gradient(to left, #866317 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #866317 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%) top left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box22{
     height: 41.25px;
     width: 53px;
     padding:5px;
     margin: 0 auto;
  background:
    linear-gradient(to left, #f5ae16 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box33{
     height: 23.84px;
     width: 60.28px;
     padding:3px;
     margin: 0 auto;
  background:
    linear-gradient(to left,#866317 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #866317 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%) top left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box44{
     height: 23.84px;
     width: 55px;
     margin: -5px auto;
  background:
    linear-gradient(to left, #f5ae16 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}

/*==== service section ====*/