ol, ul {
    list-style: none;
}

body{
    overflow-x: hidden;
}
/*==== header====*/

.bg1{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 766px;
}
.bg2{
	background-color: rgba(0,0,0,0.6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 766px;
}

.navbar1{
	font-size: 13px;
}
.orange-color{
	color: #ffcf40;
}
.fa-phone {
	color: #ffcf40;
	transform: rotate(-260deg);
	font-size: 13px;
}
.fa-envelope {
	color: #ffcf40;
	font-size: 13px;
}
.logo{
	width: 120px;
}
.geobox{
     height:35px;
     width: 50px;
     padding:8px;
     font-size: 11px;
  
  background:
    linear-gradient(to left, #9aa2a7 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left,  #9aa2a7 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #9aa2a7 15%, transparent 0%, transparent 85%, #9aa2a7 0%) top left no-repeat,
    linear-gradient(to top,  #9aa2a7 15%, transparent 0%, transparent 85%, #9aa2a7 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}



.hr{
    background-color: #fff;
    opacity: 0.4;

}
.navbar{
	white-space: nowrap;
	font-size: 15px;
	font-family:BPG Guardian Egyp-Caps;
}
h1{
	font-family:BPG Guardian Egyp-Caps;
	letter-spacing: 1.2px;
	font-size:60px;
}
.box1{

     height: 83px;
     width: 121px;
     padding:5px;
     margin: 0px auto;
  background:
    linear-gradient(to left, #9c782b 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #9c782b 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%) top left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box2{
     height: 83px;
     width: 112px;
     padding:5px;
     margin: 0 auto;
  background:
    linear-gradient(to left, #f5ae16 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box3{
     height: 48px;
     width: 121px;
     padding:5px;
     margin: 0 auto;
  background:
    linear-gradient(to left, #9c782b 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #9c782b 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%) top left no-repeat,
    linear-gradient(to top, #9c782b 35%, transparent 0%, transparent 0%, #9c782b 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box4{
     height: 48px;
     width: 112px;
     padding:5px;
     margin: -10px auto;
  background:
    linear-gradient(to left, #f5ae16 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}

/*==== header====*/

/*=== rooms section1 ====*/
.rooms-main-text{
    font-family:BPG Guardian Egyp-Caps Bld;
    letter-spacing: 1.2px;
    font-size:30pt;
}
.hr-section{
    width: 173px;
    margin: 0 auto;
}
.hr2{
    background-color:#f5ae16;
    width: 60px;
    height: 1px;
    margin-left: 15px;    

}
.hr3{
    background-color:#f5ae16;
    width: 173px;
    height: 1px;
    margin:0 auto;
}
.hr4{
    background-color:#f5ae16;
    width: 60px;
    height: 1px;
    margin-right: 15px;

}
.roomsbg-1{
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.roomsbg-2{
    background-image: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.roomsbg-3{
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.roomsbg-4{
    background-image: url(../images/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.slick-active{
   opacity: 0.5!important;
   cursor: pointer;
}

.slick-current{
   opacity: 1!important;
}
.slick-active {
    max-width: 950px!important;
    width: 100%!important;
   margin:0 15px!important;
}
.slick-next{
}
.rooms-box{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 30px -4px #000000;
    border-bottom: 3px solid #000000;
    z-index: 12;
}
.hr-section2{
    width: 31px;  
}
.hr22{
    background-color:#f5ae16;
    width: 12px;
    height: 0.46px;
    margin-left: 3px;   
}
.hr33{
    background-color:#f5ae16;
    width: 31px;
    height: 0.3px;
    margin-top: -12px; 
}
.hr44{
    background-color:#f5ae16;
    width: 12px;
    height: 0.46px;
    margin-right: 3px;
     margin-top: -12px; 
}
h4{
    font-family:BPG Guardian Egyp-Caps;
    letter-spacing: 1.2px; 
}
.rooms-text{
    font-family: BPG Guardian Egyp;
}
/*=== rooms section1 ====*/

/*==== service section ====*/
.service1{
    background-image: url(../images/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}
.row {
    margin-left:0px!important;
    margin-right: 0px!important;
}
.service1:after,.service2:after,.service3:after,.service4:after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000; 
    width: 100%;
    height: 100%;
    opacity : 0.7;
    z-index: 10;
     transition: 2s;
}
.service1:hover:after,.service2:hover:after,.service3:hover:after,.service4:hover:after{
        cursor: pointer;
        opacity:0;
        transition: 2s;
}
.service2{
    background-image: url(../images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}
.service3{
    background-image: url(../images/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}
.service4{
    background-image: url(../images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 787px;
}

.service-box{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
}
.box11{

     height: 41.25px;
     width: 60.28px;
     padding:3px;
     margin: 0px auto;
  background:
    linear-gradient(to left, #866317 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #866317 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%) top left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box22{
     height: 41.25px;
     width: 53px;
     padding:5px;
     margin: 0 auto;
  background:
    linear-gradient(to left, #f5ae16 100%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 0%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box33{
     height: 23.84px;
     width: 60.28px;
     padding:3px;
     margin: 0 auto;
  background:
    linear-gradient(to left,#866317 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #866317 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%) top left no-repeat,
    linear-gradient(to top, #866317 35%, transparent 0%, transparent 0%, #866317 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}
.box44{
     height: 23.84px;
     width: 55px;
     margin: -5px auto;
  background:
    linear-gradient(to left, #f5ae16 0%, transparent 0%) top left no-repeat,
    linear-gradient(to left, #f5ae16 100%, transparent 0%) bottom left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%) top left no-repeat,
    linear-gradient(to top, #f5ae16 35%, transparent 0%, transparent 0%, #f5ae16 0%)top right no-repeat;
  background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
}

/*==== service section ====*/

/*==== bar  restaurant section ====*/
.viewmore a{
    font-family: BPG Guardian Egyp-Caps;
    color:#6c757d;
    text-decoration: none;
}
.arrow-item{
    color: #ffcf40!important;
}
.viewmore:hover a{
    color: #000000;
}
.back-box{
    background-color:  #212121;
    height: 570px;
    width: 350px;
}
.front-box{
    top:8%;
    left:8%;
    z-index: 10;
    background-image: url(../images/9.jpg);
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 350px;
}

/*==== bar  restaurant section ====*/
 

/* ==== footer ====*/
footer{
    background-color: #212121;
    color: #ffffff;
}
.footer-list{
    white-space:nowrap;
    color:#686868;
}
.footer-text1{
     font-family: BPG Guardian Egyp;
     font-size: 13px;
     color:#686868;
     line-height: 1.6;
}
.footer-text{
     font-family: BPG Guardian Egyp;
     font-size: 13px;
     color:#686868;
     line-height: 1.6;
     display: block;
}
.footer-text:hover{
    color: #ffffff;
    text-decoration: none;
}
h6{
    font-family:BPG Guardian Egyp-Caps;
    font-size: 14px;

}
.yellow-box{
    background-color:#ffcf40;
    max-width: 1250px;
    width: 100%;
    left: 0;
    bottom: 0;
}


/* ==== footer ====*/

/*=== media ====*/

@media (max-width: 1125px){
    .rooms-box{
    width: 450px;
    overflow: hidden;
    }
    .yellow-box{
    max-width: 1000px;

    }


}

@media (max-width: 990px){
     .service1,.service2,.service3,.service4{
        height: 330px;
    }
    .back-box{
        height: 370px;
        max-width: 650px;
        width: 100%;
    }
   
    .front-box{
        height: 370px;
        max-width: 650px;
        width: 100%;
        top: 4%;
        left: 4%;
    }
    h6{
        font-size: 11px;
    }
    .footer-text{
        font-size: 9px;
    }
}
@media (max-width: 770px){
    .back-box{
        background-color: #ffffff;
        margin-bottom: 15px;
    }
    .front-box{
    top: 15%;
    left: 0%;
    }
}